<table>
	<tr>
		<td style="font-size: 25px; color: #808080;">
			<b><%= @user.name %>さんのつぶやき</b>
		</td>
	</tr>

	<% tweets.each do |tweet| %>

	<tr>
		<td style="height: 60px;">
			<div style=" padding: 5px;"><%= tweet.body %></div>
		</td>
		<br>
		<td>
			<%= l tweet.created_at %>
		</td>
		<br>
	</tr>
	<%= paginate @tweets %>
	<% end %>
</table>
