<table>
	<tr>
		<td style="font-size: 25px;">
			<b><%= @user.name %>さんのつぶやき</b>
		</td>
	</tr>

	<% tweets.each do |tweet| %>

	<tr>
		<td style="height: 60px;">
			<%= tweet.body %>
		</td>
		<br>
		<td>
			<%= l tweet.created_at %>
		</td>
		<br>
	</tr>

	<% end %>
</table>
