<table>
	<tr>
		<td style="font-size: 20px;">
			<%= @user.name %>さんのTweet
		</td>
	</tr>

	<% tweets.each do |tweet| %>

	<tr>
		<td style="height: 60px; width: 90%;">
			<%= tweet.body %>
		</td>
		<br>
		<td>
			<%= l tweet.created_at %>
		</td>
		<br>
	</tr>

	<% end %>
</table>
