<div class="container-fluid" style="height: 600px;">
	<div class="row">
		<div class="col-xs-7" id="image_newtweet"></div>
		<div class="col-xs-5" style="text-align: center; padding-top: 200px; height: 700px;">
			<h2 style="text-align: left">#NO ALCOHOLとは？</h2>
			<%= form_for(@tweet) do |f| %>
				<%= f.text_area :body, style:"width: 80%; height: 100px;" %>
				<%= f.submit 'Shirafuru', class:"btn btn-primary", style:"width: 200px;"%>
				<%= notice %>
			<% end %>
		</div>
	</div>
</div>