<div class="container-fluid" style="height: 600px;">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-8">

			<table>
				<% @users.each do |user| %>
				<tr>
					<td><%= attachment_image_tag user, :image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg", size:'90x90' %></td>
					<td style="padding-left: 10px; width: 200px;"><%= link_to user.name, user_path(user) %></td>
					<td style="width: 200px;"><%= render partial: 'relationships/create' , locals: { user: user } %></td>
					<td style="width: 200px;"><%= link_to'SHOW', user_path(user), class:"glyphicon glyphicon-user" %></td>
				</tr>
				<% end %>
			</table>

		</div>
	</div>
</div>
