<!-- ここから -->
<div id="site_box1">
	<div id="site_name">
		<span class="test">Shirafu</span>
	</div>
</div>
<!-- ここまでscssファイルでレイアウト -->

<!-- box1ここから -->
<div class="container-fluid" style="background-color: yellow; height: 600px;">
	<div class="row">
		<div class="col-md-6" style="background-color: red; height: 600px;">
		</div>
	</div>
</div>
<!-- ここまで -->

<!-- box2ここから -->
<div class="container-fluid" style="background-color: red; height: 600px;">
	<div class="row">
		<div class="col-md-6" style="background-color: blue; height: 600px;">
		</div>
	</div>
</div>
<!-- ここまで -->

<!-- box3ここから -->
<div class="container-fluid" style="height: 800px;" id="image">
</div>
<!-- ここまで -->

<!-- box4ここから(ログインいていたら表示させない) -->
<% unless user_signed_in? %>
<div class="container-fluid" style="background-color: #ffd700; height: 500px;">
	<div class="row" style="height: 200px;">
		<div class="col-md-3" style="height: 200px;">
		</div>
		<div class="col-md-6" style="padding-top: 100px; text-align: center;">
			<h1 style="font-size: 60px;">Let's start Shirafu!!</h1>
			<%= link_to "Sign up", new_user_registration_path, class:"btn btn-primary dropdown-toggle", style:"font-size: 30px; width: 500px; height: 50px; margin-top: 10px;" %><br>
			<%= link_to "Log in", new_user_session_path, class:"btn btn-primary dropdown-toggle", style:"font-size: 30px; width: 500px; height: 50px; margin-top: 10px;" %>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<% end %>
<!-- ここまで -->
<div id="video-box">
	<%= video_tag("/videos/Pexels Videos 2345459.mp4", autoplay: true, loop: true, muted: true, class: 'content__box__video') %>
</div>