
<div id="site_box1">
	<div id="site_name">
		<span class="test">Shirafu</span>
	</div>
</div>

<div id="site_box2">
	<div id="attribute_title_box">
		<h2 id="attribute_title">Shirafu is thinking</h2>
	</div>
	<div id="attribute_item_box">
		<p id="attribute_item">成人してから365日お酒を呑んでいた私<br>
		あるきっかけでお酒を辞める決意をし、禁酒に踏み切る<br>
		1日の〆は缶ビールをプシュッと空けることでリセットしていた日々<br>
		休みの日には時間があれば昼から呑む<br>
		それも楽しい。それも良かった。だけど、呑まない時間も悪くない。<br>
		禁酒して初めて気付いた事が本当にたくさん！<br>
		そう考えられるようになったのは禁酒したから。<br>
		そしてお酒と離れてみて改めてお酒の美味しさ、誰かと呑める楽しさを実感した。<br>
		お酒を呑む人も呑まない人もみんなで楽しくお酒とお付き合い出来たらいいな。<br>
		そんな思いを込めて。
		</p>
	</div>
</div>

<div id="site_box3">
	<div id="attribute_title_box">
		<h2 id="attribute_title">What can we Shirafu?</h2>
	</div>
	<div id="attribute_item_box">
		<ul id="attribute_item">
			<li>Shirafu 報告</li>
			<li>Shirafu 検索</li>
			<li>Shirafu フォロー</li>
			<li>Shirafu いいね</li>
			<li>Shirafu コメント</li>
		</ul>
	</div>
</div>

<div id="site_box4">
	<div id="site_into_name">
		<h2 id="attribute_title">Let's start Shirafu!!</h2>
	</div>
	<div id="button">
		<%= link_to "Shirafu Sign up", new_user_registration_path %>
	</div>
	<div id="button">
		<%= link_to "Shirafu Log in", new_user_session_path %>
	</div>
</div>
