// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

#site_box1 {
	height: 800px;
	width: auto;
}

/* #site_box2 {
	height: 800px;
	width: auto;
	background-color: yellow;
} */

/* #site_box3 {
	height: 800px;
	width: auto;
	background-color: blue;
} */

/* #site_box4 {
	height: 800px;
	width: auto;
	background-color: orange;
} */

/*-----ここからサイト名前のアニメーション記述-----*/
 #site_name {
	padding: 200px;
	text-align: center;
}
.test {
	font-size: 200px;
	color: #2196F3;
	animation: anime 2s 0s linear infinite;
}

@keyframes anime {
	0% {
		color: #f00;
	}
	50% {
		color: #4caf50;
	}
	100% {
		color: #2196F3;
	}
}
/*-----ここまで-----*/

/* #attribute_title_box {
	float: left;
} */

/* #attribute_item_box {
	padding-top: 400px;
	padding-left: 10px;
	text-align: center;
	overflow:hidden;
} */

/* #attribute_title {
	font-size: 40px;
} */

/* #attribute_item1 {
	font-size: 18px;
} */

/* #attribute_item2 {
	font-size: 40px;
} */

/* #button {
	height: 300px;
	width: 300px;
	border-radius: 50%;
	background-color: red;
	text-align: center;
	line-height: 300px;
	font-size: 40px;
	float: left;
} */

#image {
	background-image: url(drinks-2578446_1920.jpg);
	background-size: cover;
}

.content__box__video {
	height: 800px;
	width: 600px;
}