// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#site_box1 {
	height: 800px;
	width: auto;
	background-image: image-url("drinks-2578446_1920.jpg");
	background-size: cover;
	/* opacity: 0.5; */
}

/*-----ここからサイト名前のアニメーション記述-----*/
 #site_name {
	padding: 200px;
	text-align: center;
}
.test {
	font-size: 200px;
	color: #2196F3;
	animation: anime 2s 0s linear infinite;
}

@keyframes anime {
	0% {
		color: #f00;
	}
	50% {
		color: #ffd700;
	}
	100% {
		color: #2196F3;
	}
}
/*-----ここまで-----*/


#video-box {
  height: 100vh;
  z-index: 1;

  video{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}