// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user {

}

#user_tr {

}

#user_td1 {
	/* background-color: red; */
}

#user_td2 {
	/* background-color: yellow; */
	width: 200px;
	font-size: 20px;
}

#user_td3 {
	/* background-color: blue; */
	width: 200px;
	font-size: 20px;
}

#user_td4 {
	/* background-color: green; */
	width: 200px;
	font-size: 20px;
}
